* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 100px;
	background-color: #278dc9;
}

#logo {
	margin-left: 10%;
}

#nav-links {
	margin-right: 10%;
}

#nav-links li {
	list-style: none;
	display: inline-block;
	margin-left: 10px;
}

#nav-links a {
	color: rgba(255,255,255,.7);
	padding: 10px 15px;
	background-color: rgba(0,0,0,.3);
	border-radius: 15px;
	text-decoration: none;
}

#nav-links a:hover {
	color: rgba(255,255,255,1);
	padding: 10px 15px;
	background-color: rgba(0,0,0,.5);
	border-radius: 15px;
	text-decoration: none;
}

#logo img{
	width: 100px;
}

#hero-container {
	background-image: radial-gradient( #333, #111);
	width: 100%;
	height: 700px;
}

#hero-wrapper {
	display: flex;
	flex-direction: column;
	height: 700px;
	margin: auto;
	align-items: center;
	justify-content: center;
}

#hero-image {
	background-image: url("../images/mainDeckImage.png");
	background-size: cover;
	width: 800px;
	height: 460px;
	background-repeat: no-repeat;
	background-position: center;
/* 	border-color: red;
	border-style: dashed;
	border-width: 2px; */
}

#hero-info {
	padding-top: 6px;
	width: 80%;
	/* border-color: red;
	border-style: dashed;
	border-width: 2px; */
	color: #fff;
	text-align: center;
}

.hero-title-text {
	font-size: 22px;
}

.tagline {
	display: inline;
	margin-left: 10px;
	color: #278dc9;
}

.buy-button {
	font-size: 26px;
	background-color: #fea036;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 15px;
	border: 0px;
	cursor: pointer;
	text-transform: uppercase;
}

.buy-button:hover {
	background-color: #ffc065;
}

.detail-info-container {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.detail-info {
	width: 70%;
	display: flex;
	justify-content: space-around;
}

.detail-info-even {
	width: 70%;
	display: flex;
	justify-content: space-around;
}

.image-placeholder {
	display: flex;
	align-items: center;
}

.image-placeholder img{
	width: 100%;
	max-width: 540px;
	min-width: 340px;
	height: auto;
}

.detail-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 16px;
	width: 60%;
	padding: 20px;
}

.description {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  body {
  }

  #hero-image {
	  width: 100%;
	  height: 60%;
  }

  .detail-info {
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 90%;
}

	.detail-info-even {
		flex-direction: column;
		justify-content: center;
		margin: auto;
		width: 90%;
	}

  #logo {
	  margin-left: 3%;
  }

  #nav-links {
	  margin-right: 3%;
  }

}

@media screen and (max-width: 960px) {
	body {
	}

	.detail-info-container {
		flex-direction: column;
		justify-content: center;
	}

	.detail-info {
		flex-direction: column;
		justify-content: center;
		margin: auto;
	}

	.detail-info-even {
		flex-direction: column-reverse;
		justify-content: center;
		margin: auto;
	}

	.image-placeholder {
		display: flex;
		justify-content: center;
	}

	.detail-text {
		align-items: center;
		width: 100%;
		text-align: center;
	}
  
  }
